<div class="comments show">
    <div class="comments__left">
        <div class="comments__overlay"></div>
    </div>
    <div class="comments__side">
        <div class="comments__header comments__header--settings">
            <div class="comments__footer__item">
                <span class="comments__title--text">Contact Us</span>
            </div>
            <div class="comments__footer--item">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" class="" style="cursor: pointer;">
                    <path d="M16.5 5.5L5.5 16.5" stroke="#747D8E" stroke-width="2" stroke-linecap="square"></path>
                    <path d="M5.5 5.5L16.5 16.5" stroke="#747D8E" stroke-width="2" stroke-linecap="square"></path>
                </svg>
            </div>
        </div>
        <div class="comments__content">
            <div class="row">
                <div class="medium-12 columns">
                    <form>
                        <div class="form__group">
                            <label class="form__label" for="name">Name</label>
                            <input class="form__field" type="text" name="name" id="name" placeholder="Enter your name"
                                required="" value="">
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="email">Email Address</label>
                            <input class="form__field" type="email" name="email" id="email" required=""
                                placeholder="Enter your email" value="">
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="number">Phone Number</label>
                            <input class="form__field" type="text" name="number" id="number" inputmode="numeric"
                                pattern="\d*" required="" placeholder="Enter your phone number" maxlength="11"
                                minlength="10" value="">
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="comment">Why will you like to reach us?</label>
                            <textarea class="form__field" placeholder="Speak to us" name="comment" id="comment" rows="4"
                                required=""></textarea>
                        </div>
                        <div class="button__container button__container--center">
                            <button id="buttoncontactsendmessage" class="button button__primary ">
                                <span class="">Send Message</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>