<div class="wrapper__content ">
    <div class="home__gallery page">
        <div class="row">
            <div class="medium-12 columns">
                <div class="clearfix">
                    <div class="float-left"></div>
                </div>
            </div>
        </div><svg width="230" height="502" viewBox="0 0 290 562" fill="none" class="symbol--right">
            <path
                d="M472.953 307.609C472.953 447.781 359.176 561.413 218.826 561.413C78.4756 561.413 8.7583 512.214 8.7583 372.042C8.7583 231.87 122.535 118.238 262.885 118.238C403.236 118.238 472.953 167.437 472.953 307.609Z"
                fill="#747D8E" fill-opacity="0.04"></path>
            <path
                d="M463.319 189.371C463.319 329.543 349.757 443.174 209.671 443.174C69.5858 443.174 0 393.976 0 253.804C0 113.632 113.562 0 253.647 0C393.733 0 463.319 49.1987 463.319 189.371Z"
                fill="#171A21" fill-opacity="0.02"></path>
        </svg><svg width="230" height="502" viewBox="0 0 299 562" fill="none" class="symbol--left">
            <path
                d="M298.953 307.609C298.953 447.781 185.176 561.413 44.826 561.413C-95.5244 561.413 -165.242 512.214 -165.242 372.042C-165.242 231.87 -51.4652 118.238 88.8852 118.238C229.236 118.238 298.953 167.437 298.953 307.609Z"
                fill="#747D8E" fill-opacity="0.04"></path>
            <path
                d="M289.319 189.371C289.319 329.543 175.757 443.174 35.6714 443.174C-104.414 443.174 -174 393.976 -174 253.804C-174 113.632 -60.4382 0 79.6474 0C219.733 0 289.319 49.1987 289.319 189.371Z"
                fill="#171A21" fill-opacity="0.02"></path>
        </svg>
        <div class="home__gallery--container">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="home__gallery--content">
                        <h1 class="home__gallery--title">Gallery</h1>
                        <h3 class="home__gallery--caption">Our work, place and more</h3><a href="#"
                            class="home__gallery--sublink"><span>9</span> photos</a>
                        <div class="home__gallery--grid">
                            <div class="row small-up-1 medium-up-2 large-up-4">
                                <div class="column column-block aos-init" data-aos="" data-aos-anchor-placement=""
                                    data-aos-delay="">
                                    <div class="home__gallery--item home__item-bottom"
                                        style="background-image: url(&quot;https://az742041.vo.msecnd.net/vcsites/vcimages/resource/uploads/photogallery/cctvvnn_637002673596819071_1.jpeg&quot;);">
                                    </div>
                                </div>
                                <div class="column column-block aos-init" data-aos="" data-aos-anchor-placement=""
                                    data-aos-delay="">
                                    <div class="home__gallery--item home__item-bottom"
                                        style="background-image: url(&quot;https://az742041.vo.msecnd.net/vcsites/vcimages/resource/uploads/photogallery/ash_637001643540827502_1.jpg&quot;);">
                                    </div>
                                </div>
                                <div class="column column-block aos-init" data-aos="" data-aos-anchor-placement=""
                                    data-aos-delay="">
                                    <div class="home__gallery--item home__item-bottom"
                                        style="background-image: url(&quot;https://az742041.vo.msecnd.net/vcsites/vcimages/resource/uploads/photogallery/bigstock_cctv_securi_636999839526339613_1.jpg&quot;);">
                                    </div>
                                </div>
                                <div class="column column-block aos-init" data-aos="" data-aos-anchor-placement=""
                                    data-aos-delay="">
                                    <div class="home__gallery--item home__item-bottom"
                                        style="background-image: url(&quot;https://az742041.vo.msecnd.net/vcsites/vcimages/resource/uploads/photogallery/aac_636997408326259348_1.jpeg&quot;);">
                                    </div>
                                </div>
                                <div class="column column-block aos-init" data-aos="fade-up"
                                    data-aos-anchor-placement="bottom-bottom" data-aos-delay="0">
                                    <div class="home__gallery--item home__item-bottom"
                                        style="background-image: url(&quot;https://az742041.vo.msecnd.net/vcsites/vcimages/resource/uploads/photogallery/group-lessons_636979367440037035_1.jpg&quot;);">
                                    </div>
                                </div>
                                <div class="column column-block aos-init" data-aos="fade-up"
                                    data-aos-anchor-placement="bottom-bottom" data-aos-delay="0">
                                    <div class="home__gallery--item home__item-bottom"
                                        style="background-image: url(&quot;https://az742041.vo.msecnd.net/vcsites/vcimages/resource/uploads/photogallery/cctv5_636932974559517387_1.jpg&quot;);">
                                    </div>
                                </div>
                                <div class="column column-block aos-init" data-aos="fade-up"
                                    data-aos-anchor-placement="bottom-bottom" data-aos-delay="0">
                                    <div class="home__gallery--item home__item-bottom"
                                        style="background-image: url(&quot;https://az742041.vo.msecnd.net/vcsites/vcimages/resource/uploads/photogallery/cctv4_636932974551704980_1.jpg&quot;);">
                                    </div>
                                </div>
                                <div class="column column-block aos-init" data-aos="fade-up"
                                    data-aos-anchor-placement="bottom-bottom" data-aos-delay="0">
                                    <div class="home__gallery--item home__item-bottom"
                                        style="background-image: url(&quot;https://az742041.vo.msecnd.net/vcsites/vcimages/resource/uploads/photogallery/cctv3_636932974548423525_1.jpeg&quot;);">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button__container button__container--center aos-init" data-aos="fade-up"
                            data-aos-anchor-placement="bottom-bottom" data-aos-delay="100"><button
                                id="buttonloadmorephotos" class="button button__white button__white--orange">Load
                                More</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>