
        <nav class="sticky">
            <div class="wrapper__nav">
                <div class="wrapper__left"><a class="active" aria-current="page" id="buttonhomepagelinklogo"
                        href="/"><img class="wrapper__businesslogo"
                            src="https://az742041.vo.msecnd.net/vcsites/vcimages/resource/uploads/CompanyLogo/thumbs/636968930649628349_1.jpg"
                            alt="logo">
                        <div class="wrapper__businessnname hide-for-small-only">CCTV International</div>
                    </a></div>
                <div class="wrapper__right hide-for-large">
                    <div class="wrapper__header__icon"><svg width="18" height="18" viewBox="0 0 24 24"
                            fill="none" stroke="#FF6D00" stroke-width="2" stroke-linecap="square"
                            stroke-linejoin="arcs" class="">
                            <path d="M21 9.5H7M21 4.5H3M21 14.5H3M21 19.5H7"></path>
                        </svg></div>
                </div>
                <div class="wrapper__right show-for-large"><a class="wrapper__header__icon active"
                        aria-current="page" id="buttonmenuhome" href="/">Home</a><a
                        class="wrapper__header__icon" id="buttonmenugallery" href="/gallery">Gallery</a><a
                        class="wrapper__header__icon" id="buttonmenureviews"
                        href="/testimonials">Reviews</a><a class="wrapper__header__icon"
                        id="buttonmenuprojects" href="/projects">Projects</a><a
                        class="wrapper__header__icon" id="buttonmenuteam" href="/team">Team</a>
                    <div class="wrapper__header__icon button button__white">Contact Us</div>
                </div>
            </div>
        </nav>
        
    