<div class="wrapper__content ">
    <div class="home__testimonials page">
        <div class="row">
            <div class="medium-12 columns">
                <div class="clearfix">
                    <div class="float-left"></div>
                </div>
            </div>
        </div>
        <svg width="230" height="502" viewBox="0 0 290 562" fill="none" class="symbol--right">
            <path
                d="M472.953 307.609C472.953 447.781 359.176 561.413 218.826 561.413C78.4756 561.413 8.7583 512.214 8.7583 372.042C8.7583 231.87 122.535 118.238 262.885 118.238C403.236 118.238 472.953 167.437 472.953 307.609Z"
                fill="#747D8E" fill-opacity="0.04"></path>
            <path
                d="M463.319 189.371C463.319 329.543 349.757 443.174 209.671 443.174C69.5858 443.174 0 393.976 0 253.804C0 113.632 113.562 0 253.647 0C393.733 0 463.319 49.1987 463.319 189.371Z"
                fill="#171A21" fill-opacity="0.02"></path>
        </svg>
        <svg width="230" height="502" viewBox="0 0 299 562" fill="none" class="symbol--left">
            <path
                d="M298.953 307.609C298.953 447.781 185.176 561.413 44.826 561.413C-95.5244 561.413 -165.242 512.214 -165.242 372.042C-165.242 231.87 -51.4652 118.238 88.8852 118.238C229.236 118.238 298.953 167.437 298.953 307.609Z"
                fill="#747D8E" fill-opacity="0.04"></path>
            <path
                d="M289.319 189.371C289.319 329.543 175.757 443.174 35.6714 443.174C-104.414 443.174 -174 393.976 -174 253.804C-174 113.632 -60.4382 0 79.6474 0C219.733 0 289.319 49.1987 289.319 189.371Z"
                fill="#171A21" fill-opacity="0.02"></path>
        </svg>
        <div class="home__testimonials--container">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="home__testimonials--content">
                        <h1 class="home__testimonials--title">Testimonials</h1>
                        <h3 class="home__testimonials--caption">Hear what our customers are saying</h3>
                        <a href="#" class="home__testimonials--sublink">
                            <span>18</span> Reviews
                        </a>
                        <div class="home__testimonials--grid" >

                            <div class="row small-up-1 medium-up-2" >
                                <div class="column column-block aos-init" *ngFor="let review of reviewData.Reviewrating">
                                    <div class="home__testimonials--item home__item-bottom">
                                        <div class="clearfix testimonials__top">
                                            <div class="float-left">
                                                <span>Reviewed On:</span>
                                                <span class="google">{{review.Source}}</span>
                                            </div>
                                            <div class="float-right">{{review.Location}}</div>
                                        </div>
                                        <p class="testimonials__text">{{review.reviewdetail}}</p>
                                        <div class="testimonials__user">
                                            <div class="testimonials__userimg">
                                                <img src="https://lh4.googleusercontent.com/-B-s1vrM59TM/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rdCTTOftImLXyynAHIQ6HYIPkNiTg/c0x00000000-cc-rp-mo/photo.jpg"
                                                    alt="testimonial image">
                                            </div>
                                            <div class="testimonials__userdetails">
                                                <div class="testimonials__username">{{review.Username}}</div>
                                                <div class="testimonials__userrating">
                                                    <svg width="15" height="15" viewBox="0 0 59 59" fill="none"
                                                        class="">
                                                        <path
                                                            d="M29.5005 1.44362L38.6156 19.9146L59 22.8773L44.2497 37.2541L47.7316 57.5564L29.5005 47.9715L11.2683 57.5564L14.7503 37.2541L0 22.8773L20.3844 19.9146L29.5005 1.44362Z"
                                                            fill="#EFCE4A"></path>
                                                    </svg>
                                                    <svg width="15" height="15" viewBox="0 0 59 59" fill="none"
                                                        class="">
                                                        <path
                                                            d="M29.5005 1.44362L38.6156 19.9146L59 22.8773L44.2497 37.2541L47.7316 57.5564L29.5005 47.9715L11.2683 57.5564L14.7503 37.2541L0 22.8773L20.3844 19.9146L29.5005 1.44362Z"
                                                            fill="#EFCE4A"></path>
                                                    </svg>
                                                    <svg width="15" height="15" viewBox="0 0 59 59" fill="none"
                                                        class="">
                                                        <path
                                                            d="M29.5005 1.44362L38.6156 19.9146L59 22.8773L44.2497 37.2541L47.7316 57.5564L29.5005 47.9715L11.2683 57.5564L14.7503 37.2541L0 22.8773L20.3844 19.9146L29.5005 1.44362Z"
                                                            fill="#EFCE4A"></path>
                                                    </svg>
                                                    <svg width="15" height="15" viewBox="0 0 59 59" fill="none"
                                                        class="">
                                                        <path
                                                            d="M29.5005 1.44362L38.6156 19.9146L59 22.8773L44.2497 37.2541L47.7316 57.5564L29.5005 47.9715L11.2683 57.5564L14.7503 37.2541L0 22.8773L20.3844 19.9146L29.5005 1.44362Z"
                                                            fill="#EFCE4A"></path>
                                                    </svg>
                                                    <svg width="15" height="15" viewBox="0 0 59 59" fill="none"
                                                        class="">
                                                        <path
                                                            d="M29.5005 1.44362L38.6156 19.9146L59 22.8773L44.2497 37.2541L47.7316 57.5564L29.5005 47.9715L11.2683 57.5564L14.7503 37.2541L0 22.8773L20.3844 19.9146L29.5005 1.44362Z"
                                                            fill="#EFCE4A"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>



                        </div>
                        <div class="button__container button__container--center aos-init" data-aos="fade-up"
                            data-aos-anchor-placement="bottom-bottom" data-aos-delay="100">
                            <button id="buttonloadmorereviews" class="button button__primary">Load More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>